.button {
  background-color: $button_bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
  padding: $input-spacing;
  text-transform: uppercase; // 텍스트를 대문자로 만들어준다
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  margin: 0 ($space / 2) 0 0; // top right bottom left
  padding: .3rem .8rem; // 전자는 top/bottom, 후자는 left/right
}

.button--secondary {
  background: $button-secondary-bg;
  color: $button-secondary-border-color;
  border: 1px solid $button-secondary-color;
}

.button--link-text {
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
}
